<section class="text-gray-400 body-font bg-gray-900" style = "height: 100vh;">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">Today's Best Deals</h1>
          <div class="h-1 w-20 bg-blue-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-400 text-opacity-90">Discover Today's Best Deals: Dive into our handpicked selection of unbeatable offers just waiting to drive into your life! Whether you're seeking a sleek sedan, a rugged SUV, or a reliable family car, our curated collection showcases the most enticing deals available right now.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://ireland.apollo.olxcdn.com/v1/files/eyJmbiI6Imp6ZHVmZTVqdHBoYjMtQVVUT1ZJVFJPIiwidyI6W3siZm4iOiJxN216NTNiaWZwemstQVVUT1ZJVFJPIiwicyI6IjE2IiwicCI6IjEwLC0xMCIsImEiOiIwIn1dfQ._t7r4iOixbB6o1JTRKb9OYGvgUoupzNB-Eh-ljrmpjI/image;s=1440x0;q=80" alt="content">
            <h3 class="tracking-widest text-blue-400 text-xs font-medium title-font">104 001 EUR</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">Audi Q8 3.0 50 TDI quattro Tiptronic</h2>
            <p class="leading-relaxed text-base">2023 · 50 km · 2 967 cm3 · Diesel</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://ireland.apollo.olxcdn.com/v1/files/eyJmbiI6InFlOTQzNzRpNGl1YjEtQVVUT1ZJVFJPIiwidyI6W3siZm4iOiJxN216NTNiaWZwemstQVVUT1ZJVFJPIiwicyI6IjE2IiwicCI6IjEwLC0xMCIsImEiOiIwIn1dfQ.wiP7_OY2sysl6x0oQzRum163oHVuvTu9gGKPCX-1p6A/image;s=3840x0;q=100" alt="content">
            <h3 class="tracking-widest text-blue-400 text-xs font-medium title-font">59 980 EUR</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">Mercedes-Benz GLE 450 4Matic 9G-TRONIC AMG Line</h2>
            <p class="leading-relaxed text-base">2020 · 140 000 km · 2 999 cm3 · Benzina</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://ireland.apollo.olxcdn.com/v1/files/eyJmbiI6IjVwY2lkY3lhcGM1ZjMtQVVUT1ZJVFJPIiwidyI6W3siZm4iOiJxN216NTNiaWZwemstQVVUT1ZJVFJPIiwicyI6IjE2IiwicCI6IjEwLC0xMCIsImEiOiIwIn1dfQ.lqH58IDMEg3BatRM9xjK0JyAjpiXED8CItH3SDCbt1s/image;s=1440x0;q=80" alt="content">
            <h3 class="tracking-widest text-blue-400 text-xs font-medium title-font">29 988 EUR</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">Volkswagen Touareg</h2>
            <p class="leading-relaxed text-base">2015 · 119 156 km · 2 967 cm3 · Diesel</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://img.classistatic.de/api/v1/mo-prod/images/0a/0a660f31-17e5-44c2-91da-613226770afb?rule=mo-1024.jpg" alt="content">
            <h3 class="tracking-widest text-blue-400 text-xs font-medium title-font">52.900 EUR</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">Nissan Skyline</h2>
            <p class="leading-relaxed text-base">1991 · 100 000 km · 2 568 cm3 · Benzina</p>
          </div>
        </div>
      </div>
    </div>
  </section>